body {
  padding-top: 20px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #FFF;
  position: relative;
  border: 2px solid #0B3C5D;
}

.inner-circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #0B3C5D;
  top: 50%;
  left: 50%;
  margin: -30px 0px 0px -30px;
}

.education {
  color: #062F4F;
  font-size: 32px;
}

.education:after {
  background-color: #0B3C5D;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}

.education-list {
  list-style-type: disc;
  font-size: 12px;
}

.edu-type-1 {
  font-size: 20px;
}

.name {
  font-size: 36px;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 24px;
  color: #444;
  transition: all .3s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #F62;
  text-shadow: 0 0 20px #952;
  transition: all .25s;
}

label.star:hover {
  transform: scale(1.3);
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.pro {
  background-color: #000;
  height: 25px;
  padding: 5px;
  width: 150px;
  margin: 5px 0;
  border-radius: 3px;
}

.pro span {
  position: relative;
  display: inline-block;
  height: 100%;
  border-radius: 1px;
  margin-bottom: 20px;
  transition: width .5s ease-in-out;
  background-image: linear-gradient(#984B43, #062F4F);
}

.pro span::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 1px;
  animation: animate-shine 3s ease-out infinite;
}

@keyframes animate-shine {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    width: 95%;
  }
}